body{

    background-color: darkgrey;

}
/*TODO ogarnar te radoisy dp procentow*/
.calendar-tab, .add-tab{

    border-style: solid;
    border-color: black;
    border-radius: 5% 60% 10% 1%;
    min-width: 5%;
    text-align: center;

}

.filters-button{

    display:block;
    margin: 0;

}

.calendar-slide{

    padding: 0 10%;
    border-style: solid;
    min-height: 100%;
    background: white;
    grid-area: overlap;

}

#slides_wrapper{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
    border-style: solid;

}

.active-tab{

    background-color: cadetblue;

}