body{

    background-color: #d9d6d6;

}

#view{

    padding: 5%

}

/*TODO ogarnar te radoisy dp procentow*/
.calendar-tab{

    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 5% 60% 10% 1%;
    min-width: 5%;
    text-align: center;
    padding: 0;

}

#spinner-overlay {

    opacity: 0.7;
    display:none;
    position: absolute;
    width: 90%;
    height: 80%;
    background-color: white;
    z-index: 10;
}

#tabs-bar{

    position:relative;;
    left: 25%;
    width: 75%;
    margin: 0;
    padding: 0;

}

#slides_wrapper{
    background-color: white;
    padding: 0;

}

#calendar-gallery{
    padding: 0;
}

.filters-button{

    display:block;
    margin: 0;

}

.calendar-slide, .filters-container{

    padding: 0 10% 20% 10%;
    min-height: 100%;
    grid-area: overlap;

}

.filters-container{
    border-style: solid;
    padding-top: 1%;
}

.calendar-slide{

    background-color: white;
    padding-top: 1%;
}

#slides_wrapper, #filters-wrapper{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
    padding: 0;


}



.active-tab{

    background-color: cadetblue;

}